/*
ul{
    list-style: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid black;
    width: 100%;
}

.navigator{
    display: flex;
    flex-direction: row;
    height: 4em;
    border-bottom: solid 1px #121212;
    padding-left: 15.5em;
    align-items: center;
    justify-content: space-between;
    padding-right: 1.5em;
}


.user{
    height: 2.813em;
    width: 2.813em;
    background-color: #82CD47;
    border-radius: 50%;
    cursor: pointer;
}

aside{
    height: 100vh;
    width: 15em;
    background-color: #121212;
    position: fixed;
    top: 0;
    left: 0;
}


main{
    margin-top: 4em;
    margin-left: 15em;
    padding: 2.5em 4em;
    position: relative;
}

.course__grid{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.course__card{
    
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    background: #242424;
    box-shadow:  -13px 13px 23px #131313,
                 13px -13px 23px #202020;
}

.course__card-progressInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.course__card-progressBar{
    height: 5px;
    width: 80%;
    border: 1px solid rgba(114, 114, 114, 0.781);
    border-radius: 20px;
}


.course__card-btn{
    padding: 10px 30px;
    cursor: pointer;
    background-color: #353535;
    color: #82CD47;
}


.header-chat{
    width: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 1.875em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.test{
    width: 100%;
    height: 100%;
    background-color: #131313;
}

*/

/*Estilos oficial*/

.page{
    width: 100%;
    position: relative;
}

.header{
    width: 85%;
    height: 8vh;
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 15%;
    background-color: violet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 200;
}

.header-menu{
    position: fixed;
    right: -1000vw;
}



.header-menu-CTA{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 18px;
    right: 20px;
    border: 1px solid aqua;
    top: 8vh;
    padding: 15px 40px;
}

.aside{
    height: 100vh;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: red;
}


.img{
    height: 6.7vh;
    width: 6.7vh;
    background-color: #82CD47;
    border-radius: 50%;
    cursor: pointer;
}

.main{
    height: 92vh;
    width: 85%;
    margin-top: 8vh;
    margin-left: 15%;
    border: 1px solid green;
    position: relative;
}


.chat-bg {
    height: 100%;
    width: 100%;
    background-color: green;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
  
.chat-messages-container {
  border: 1px solid black;
  height: 87%; /* Ajusta el tamaño según tus necesidades */
  width: 85%;
  overflow-y: scroll;
  
}

.chat-messages-container::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
  }
  
.chat-messages-container::-webkit-scrollbar-thumb {
  background-color: yellow; /* Color del thumb (agarre) */
  border-radius: 4px; /* Borde redondeado del thumb */
}
  
.chat-messages-container::-webkit-scrollbar-track {
  background-color: blue; /* Color del track (rastro) */
  border-radius: 4px; /* Borde redondeado del track */
}

.chat-message-item {
    padding: 13px;
    width: 100%;
    margin: 7px 0;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    gap: 0.625em;
}


.chat-message-img{
    height: 55px;
    width: 55px;
    background-color: #82CD47;
    border-radius: 50%;
}


.chat-input-container {
  background-color: violet;
  width: 85%;
  height: 13%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chat-input-card{
    background-color: red;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.chat-input{
    width: 87%;
    padding: 15px 10px;
}

.chat-input-btn{
    height: 55px;
    width: 55px;
    background-color: chocolate;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
.chat-bg{
    height: 100%;
    width: 100%;
    background-color: green;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.chat-messages-container{
    border: 1px solid black;
    height: 80%;
    width: 85%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.chat-message-item{
    height: 400px;
    width: 100%;
    margin: 5px 0;
    border: 1px solid black;
}

.chat-input-container{
    background-color: violet;
    width: 85%;
    height: 20%;
}

*/